@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.font-sora {
  font-family: "Sora", sans-serif;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight:400;
  font-style: normal;
}